@import "tailwindcss";


@layer base {
  :root {
    --color-primary: #feae2b;
    --color-primary-dim: #eea11b;
    --color-primary-container: #e5990e;
    --color-on-primary: #533400;
    --color-on-primary-container: #3d2500;
    
    --color-secondary: #febf2a;
    --color-secondary-dim: #eeb118;
    --color-secondary-container: #7a5900;
    --color-on-secondary: #573e00;
    --color-on-secondary-container: #fff6ed;
    
    --color-tertiary: #ffe88c;
    --color-tertiary-dim: #ebcb32;
    --color-tertiary-container: #fad940;
    --color-on-tertiary: #645400;
    --color-on-tertiary-container: #5a4c00;
    
    --color-error: #ff7351;
    --color-error-container: #b92902;
    --color-on-error: #450900;
    
    --color-surface: #0e0e0e;
    --color-surface-dim: #0e0e0e;
    --color-surface-bright: #2c2c2c;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #131313;
    --color-surface-container: #1a1a1a;
    --color-surface-container-high: #20201f;
    --color-surface-container-highest: #262626;
    --color-surface-variant: #262626;
    --color-on-surface: #ffffff;
    --color-on-surface-variant: #adaaaa;
    
    --color-outline: #767575;
    --color-outline-variant: #484847;
    --color-inverse-surface: #fcf9f8;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  body {
    background-color: #0e0e0e;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }

  ::selection {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 28s linear infinite;
  }
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-error: var(--color-error);
  --color-surface: var(--color-surface);
  --color-on-surface: var(--color-on-surface);
  --color-on-primary: var(--color-on-primary);
  --font-headline: 'Space Grotesk';
  --font-body: 'Inter';
  --font-sans: 'Inter', sans-serif;
}
